.hatch {
    -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
    -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4c5761), color-stop(1, #000000));
    background:-moz-linear-gradient(top, #4c5761 5%, #000000 100%);
    background:-webkit-linear-gradient(top, #4c5761 5%, #000000 100%);
    background:-o-linear-gradient(top, #4c5761 5%, #000000 100%);
    background:-ms-linear-gradient(top, #4c5761 5%, #000000 100%);
    background:linear-gradient(to bottom, #4c5761 5%, #000000 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5761', endColorstr='#000000',GradientType=0);
    background-color:#4c5761;
    -moz-border-radius:17px;
    -webkit-border-radius:17px;
    border-radius:17px;
    border:1px solid #5494f5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:14px;
    font-weight:bold;
    padding:12px 43px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.hatch:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #4c5761));
    background:-moz-linear-gradient(top, #000000 5%, #4c5761 100%);
    background:-webkit-linear-gradient(top, #000000 5%, #4c5761 100%);
    background:-o-linear-gradient(top, #000000 5%, #4c5761 100%);
    background:-ms-linear-gradient(top, #000000 5%, #4c5761 100%);
    background:linear-gradient(to bottom, #000000 5%, #4c5761 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#4c5761',GradientType=0);
    background-color:#000000;
}
.hatch:active {
    position:relative;
    top:1px;
}

