<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="./css/materialize.min.css" />
  <link rel="stylesheet" href="./css/custom.css" />
  <title>DMO Incubator</title>
</head>

<body class="teal lighten-5">
  <div id="appRoot" class="">
    <nav>
      <div class="nav-wrapper blue lighten-2">
        <a href="#!" class="brand-logo center">DMO Incubator</a>
      </div>
    </nav>
    <div class="container">
      <br>
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-image">
              <img :src="incubatorImg">
            </div>
          </div>
          <a @click="changeIncubator()" class="hatch">Data Input</a>
          <div class="card yellow lighten-5" v-if="showDataWarning">
            <div class="card-content black-text">
              <p>Mid data will be used after level 3 or 4 for Reinforced eggs</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-tabs">
              <ul class="tabs tabs-fixed-width">
                <li class="tab"><a class="active" href="#egg">Egg</a></li>
                <li class="tab"><a href="#rate">Rate</a></li>
                <li class="tab"><a href="#data">Data</a></li>
              </ul>
            </div>
            <div class="card-content grey lighten-4">
              <div id="egg">
                <p>Select egg to hatch</p>
                <div class="row" style="margin-bottom: 0px">
                  <div class="col s12">
                    <div class="row">
                      <div class="input-field col s12" style="margin-bottom:0px">
                        <input v-model="eggName" type="text" id="autocomplete-input" class="autocomplete no-autoinit">
                        <label for="autocomplete-input">Digimon Name</label>
                      </div>
                    </div>
                  </div>
                </div>
                <form action="#">
                  <p>
                    <label>
                      <input value="normal" name="group2" type="radio"  v-model:checked="eggStyle"/>
                      <span>Mercenary Egg</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input value="three" name="group2" type="radio" v-model:checked="eggStyle"/>
                      <span>Reinforced Egg Level 3</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input value="four" name="group2" type="radio" v-model:checked="eggStyle" />
                      <span>Reinforced Egg Level 4</span>
                    </label>
                  </p>
                  <br>
                  <div class="row">
                    <div class="col s5 m7 l6">
                      <p v-if="!removeDevFeatures">
                        <label>
                          <input value="animate" type="checkbox" class="filled-in" v-model:checked="animate" />
                          <span>Animate</span>
                        </label>
                      </p>
                    </div>
                    <div class="col s7 m5 l6">
                      <p v-if="!removeDevFeatures">
                        <label>
                          <input type="checkbox" class="filled-in" v-model:checked="auto" />
                          <span>Auto Hatch</span>
                        </label>
                      </p>
                    </div>
                  </div>
                  <div class="row" v-if="!removeDevFeatures">
                    <div class="col s5 m7 l6">
                      <label>
                        <input type="checkbox" class="filled-in" v-model:checked="hatchBackup" />
                        <span>Hatch backup after level</span>
                      </label>
                    </div>
                    <div class="col s7 m5 l6">
                      <p class="range-field">
                        <input id="find" type="range" min="1" max="5" v-model:valueAsNumber="hatchBupLevel" />
                      </p>
                    </div>
                  </div>
                  <div class="row" v-if="!removeDevFeatures">
                    <div class="col s5 m7 l6">
                      <label>
                        <input type="checkbox" class="filled-in" checked="checked" v-model:checked="goal"/>
                        <span>Goal is to reach level</span>
                      </label>
                    </div>
                    <div class="col s7 m5 l6">
                      <p class="range-field">
                        <input type="range" min="1" max="5" v-model:valueAsNumber="goalLevel"/>
                      </p>
                    </div>
                  </div>
                  <div class="row" v-if="!removeDevFeatures">
                    <div class="input-field col s12">
                      <input v-model:value="reachLevelTimes" id="goalN" type="number" class="validate">
                      <label class="active" for="goalN">Goal reach times (only works if auto hatch is checked)</label>
                    </div>
                  </div>
                </form>
              </div>
              <div id="rate">
                <p>Here you can set custom rate for egg if you are not happy with the rates I have come up with</p>
                <br>
                <form action="#">
                  <div class="row">
                    <div class="col s3 m5 l4">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Level 1</span>
                      </label>
                    </div>
                    <div class="col s9 m7 l8">
                      <input type="number" id="1/5" class="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3 m5 l4">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Level 2</span>
                      </label>
                    </div>
                    <div class="col s9 m7 l8">
                      <input type="number" id="2/5" class="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3 m5 l4">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Level 3</span>
                      </label>
                    </div>
                    <div class="col s9 m7 l8">
                      <input type="number" id="3/5" class="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3 m5 l4">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Level 4</span>
                      </label>
                    </div>
                    <div class="col s9 m7 l8">
                      <input type="number" id="4/5" class="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s3 m5 l4">
                      <label>
                        <input type="checkbox" class="filled-in" />
                        <span>Level 5</span>
                      </label>
                    </div>
                    <div class="col s9 m7 l8">
                      <input type="number" id="5/5" class="">
                    </div>
                  </div>
                </form>
              </div>
              <div id="data">
                <p>
                  <label>
                    <input name="group1" type="radio" checked />
                    <span>Low data</span>
                  </label>
                </p>
                <p>
                  <label>
                    <input name="group1" type="radio" />
                    <span>Mid data</span>
                  </label>
                </p>
                <p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col s10 offset-s1">
            <br>
            <canvas id="myChart"></canvas>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<footer class="page-footer blue lighten-2 center">
          <div class="container">
                <h5 class="white-text">Thank you!</h5>
                <p class="grey-text text-lighten-4">Thank you for using this simulator. I would like to tell you that this app is not affiliated with any version of digimon masters online. The hatch rates here are not official and are actually the avarages of many player's hatching experience from the game. This app's sole intention is to provide a simulator so that players can decide whether they should buy cash eggs or get mercenary eggs.</p>
                <p><b>Note : This is not a hack and would not affect your gameplay. Hatching any digimon here will not add it to your account. The app is still WORK IN PROGRESS</b></p>
          </div>
          <div class="footer-copyright text-center center">
            <div class="container">
            made by thvardhan, should you have any problem please contact me at : thvardhan.god@gmail.com
            </div>
          </div>
        </footer>


<script type="text/javascript" src="js/digimonObjects.js"></script>
<script type="text/javascript" src="js/initUI.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/Chart.min.js"></script>
<script type="text/javascript" src="js/initChart.js"></script>
<script src="./js/vue.js"></script>
<script type="text/javascript" src="./js/interaction.js"></script>
<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
   var myLineChart = new Chart(ctx, {
       type: 'bar',
       data: {
           labels: [],
           datasets: [{
               label: "Hatch plot w.r.t. Time",
               fill:false,
               borderColor:'rgb(255, 99, 132)',
               backgroundColor:'rgb(58,248,248)',
               data: []
           }]
       },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0,
                    suggestedMax: 5
                }
            }]
        }
    }
   });
</script>
</html>
